.b-RepoList__header {
    text-align: center;
    margin: 0 0 15px;
}

.b-RepoList__item {
    margin: 0 auto .3em;
    padding: 5px 10px;
    border-left: solid 7px #FDE75D;
    animation: slowlyappear 2s 1 forwards;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.b-RepoList__link {
    color: #000;
}

@keyframes slowlyappear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}